<!DOCTYPE html>
<html lang="en">
  <head>

    <title>XHR</title>

    <link href="../lib/bootstrap.min.css" rel="stylesheet" />

    <style>
      body {
        margin: 10px;
      }
    </style>
  </head>

  <body ng-app="myapp">
    <div ng-controller="Controller" >
      <form ng-submit="login()">
        <label>Email</label>
        <input type="text" ng-model="email" placeholder="Your email"/>
        <label>Password</label>
        <input type="password" ng-model="password">
        <input type="submit" value="Login" class="btn btn-primary" />
      </form>
    </div>

    <script src="../lib/angular.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>
